<style>
  html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container{
    width: 100%;
    height: 100%;
  }
  .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-container-3d{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide-3d{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
</style>

<!-- Swiper -->
<div class="swiper-container swiper-container-v">
  <div class="swiper-wrapper">
    <% @perro.each do |k| %>
        <div class="swiper-slide">
          <div class="swiper-container swiper-container-3d">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="<%= url_for(:controller => 'list', :action => 'get_object', :value => k[:foto])%>" style="width: 280px; height: auto"/></div>
            </div>
            <div class="swiper-pagination swiper-pagination-3d"></div>
          </div>
        </div>
    <% end %>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-v"></div>
</div>

<script>
    $(document).ready( function() {
        var swiperV = new Swiper('.swiper-container-v', {
            pagination: '.swiper-pagination-v',
            paginationClickable: true,
            direction: 'vertical',
            centeredSlides: true
        });

        var swiper3D = new Swiper('.swiper-container-3d', {
            pagination: '.swiper-pagination-3d',
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 1,
            coverflow: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows : true
            }
        });
    });
</script>



